body {
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.website-contents-container {
    width: 131vh;
    height: 100vh;
    background: black;

    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

.main-container-banner {
    background: hotpink;
    width: 100%;
    height: 20%;

    display: flex;
    padding: .5%;
    box-sizing: border-box; /*makes padding not effect width or height*/

    align-items: flex-end;
    justify-content: flex-end;
}

    .banner-icon {
        background: whitesmoke;
        height: 75%;
        aspect-ratio: 1/1;

        margin-right: auto;
    }

        .banner-icon-image {
            width: 100%;
            height: 100%;
        }

    .banner-miniicon {
        background: whitesmoke;
        height: 20%;
        aspect-ratio: 1/1;
        margin-left: .5%;
    }

        .banner-miniicon-image {
            width: 100%;
            height: 100%;
        }

.main-container-musicplayer {
    background: skyblue;
    width: 100%;
    height: 5%;
}

.main-container-userpanel {
    background: rgb(235, 233, 135);
    width: 15%;
    height: 65%;
}

#main-container-main {
    background: rgb(209, 17, 17);
    width: 60%;
    height: 65%;
}

    .main-title {
        background: darkgray;
        width: 100%;
        height: 8%;
    }

    .main-contents {
        background: darkgoldenrod;
        width: 100%;
        height: 92%;
    }

        .main-page-welcome {
            background: red;
            width: 100%;
            height: 100%;
        }

            .main-page-welcome-welcomeBox {
                background: rgb(255, 173, 30);
                width: 100%;
                height: 50%;
            }

            .main-page-welcome-recentTitle {
                background: rgb(5, 217, 255);
                width: 100%;
                height: 5%;
            }
            
            .main-page-welcome-recentContainer {
                background: whitesmoke;
                width: 100%;
                height: 45%;
            }

.main-container-aboutme {
    background: rgb(195, 135, 235);
    width: 25%;
    height: 65%;

    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    flex-direction: column; /*makes the flex apply column like (changing this to ROW applys effects to WIDTH)*/
}

    .aboutme-title {
        background: darkmagenta;
        width: 100%;
        height: 8%;

        display: flex;
        justify-content: center;
    }

        .aboutme-title-image {
            background-image: url("Assets/_Main/AboutMe/title.png");
            background-size:contain;
            background-repeat:no-repeat;
            background-position:center;
            width:100%;
            height: 100%;
        }

    .aboutme-photo {
        background: rgb(60, 0, 155);
        width: 100%;
        min-height: 48%;
        flex-grow: 1; /*fill the remaining space left from the decimals*/

        display: flex;
        justify-content: center;
    }

        .aboutme-photo-image {
            background-image: url("Assets/_Main/AboutMe/selfi_0.png");
            background-size:contain;
            background-repeat:no-repeat;
            background-position:center;
            width:100%;
            height: 100%;
        }

    .aboutme-tags {
        background: rgb(139, 127, 0);
        width: 100%;
        height: 14.6%;

        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 3%;
        padding: 3%;

        box-sizing: border-box;
    }

    .aboutme-portfoilo {
        background: rgb(139, 9, 0);
        width: 100%;
        height: 14.6%;

        display: flex;
        justify-content: center;
    }

        .aboutme-portfoilo-image {
            background-image: url("Assets/_Main/AboutMe/portfolio.png");
            background-size:contain;
            background-repeat:no-repeat;
            background-position:center;
            width:100%;
            height: 100%;
        }

    .aboutme-deardiary {
        background: rgb(139, 0, 86);
        width: 100%;
        height: 14.6%;

        display: flex;
        justify-content: center;
    }

        .aboutme-deardiary-image {
            background-image: url("Assets/_Main/AboutMe/dear_diary.png");
            background-size:contain;
            background-repeat:no-repeat;
            background-position:center;
            width:100%;
            height: 100%;
        }

.main-container-divider {
    background: rgb(163, 235, 135);
    width: 100%;
    height: 3%;
}

.main-container-footer {
    background: rgb(218, 143, 46);
    width: 100%;
    height: 7%;

    display: flex;
    overflow: hidden;
}

    .footer-movableObject {
        position: relative;
        pointer-events: none;
    }

        #object1{
            background: whitesmoke;
            animation: moving-object1 15s infinite linear;
            width: 200px;
        }

        #object2{
            background: rgb(0, 0, 0);
            animation: moving-object2 15s infinite linear;
            width: 200px;
            left: 3000px;
        }

    @keyframes moving-object1 {
        from{ left:calc(100% + 20px); }
        to{ left:-400px; }
    }

    @keyframes moving-object2 {
        from{ left:calc(100% + 20px); }
        to{ left:-400px; }
    }

@media screen and (orientation: portrait) {
    /*"fullscreen the website on mobile"*/
    .website-contents-container {
        width: 100vw;
        height: 100vh;
    }

    .main-container-userpanel {
        display: none;
    }
    .main-container-main {
        width: 100%;
    }
    .main-container-aboutme {
        width: 100%;
    }
}

#minigame-contents-container {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 100%;
    height: 100%;
    background: black;

    pointer-events: none;
    visibility: hidden;
}

#minigame-container {
    position: absolute;
    
    visibility: hidden;
    background: white;
}